@font-face {
    font-family: 'ULTRAFONT';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: rgba(0, 0, 0, 0.6);
}

body {
    font-family: 'ULTRAFONT';
    background-color: rgb(65, 9, 9);
    background-image: url("Light_Up_the_Night.webp");
    background-size: cover;
}

.container-main 
{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        
    width: 70vw;
    background-color: var(--background-color);
    color: #e6e6e6;
    padding-right: 1em;
    padding-left: 1em;
    top: -1em;
    padding-bottom: 1em;
}

.container-main h3:not(#timing) {
   
    overflow: hidden;
    border-bottom: solid 1px #bbbbbb;
    border-image: linear-gradient(to right,var(#e6e6e6)),50%,transparent,100%,transparent 1;
}


.tech-tester {
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    padding: 2em;
    border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    min-width: 30vw;
}



 option {
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
}

/* .tech-tester:not(#start-btn) {
    display: inline-flex;
    flex-direction: row;
} */

#binds {
    
    /* border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    min-width: 5vw; */
}

#binds button {
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
    min-width: 5vw;
    min-height: 5vh;
}


.bindbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    /* padding-left: 9.5vw; */
}
.start {
    display: flex;
    justify-content: center;
}
#start-btn {
    margin-top: 1em;
   justify-content: center;
    border-width: 2px;
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
    min-width: 10vw;
    min-height: 5vh;

}

.output {
    margin-top: 2em;
    padding: 2em;
    border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    max-height: 12vh;
}

.output-text-success { 
    background-color: green;
}

.output-text-fail {
    background-color: red;
}

.AbsDiv {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}

.dropup {
    position: relative;
    
}

.dropbtn {
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
    min-width: 8vw;
    min-height: 4vh;
    border-width: 2px;
    border-style: solid;
    border-color: #e6e6e6;
    padding: 1em;
}

.dropup-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    min-width: 8vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
  }

  .dropup-content a {
    color: #e6e6e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .output h2
  {
    margin-top: -3%;
    margin-bottom: -1.2%;
  }


  
  
  