@font-face {
    font-family: 'ULTRAFONT';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ULTRAFONT';
}

.container-main 
{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.9);
    color: #e6e6e6;
    padding-right: 1em;
    padding-left: 1em;
}

.container-main h3 {
   
    overflow: hidden;
    border-bottom: solid 1px #bbbbbb;
    border-image: linear-gradient(to right,var(#e6e6e6)),50%,transparent,100%,transparent 1;
}