@font-face {
    font-family: 'ULTRAFONT';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: rgba(0, 0, 0, 0.9);
}

body {
    font-family: 'ULTRAFONT';
}

.container-main 
{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    background-color: var(--background-color);
    color: #e6e6e6;
    padding-right: 1em;
    padding-left: 1em;
}

.container-main h3 {
   
    overflow: hidden;
    border-bottom: solid 1px #bbbbbb;
    border-image: linear-gradient(to right,var(#e6e6e6)),50%,transparent,100%,transparent 1;
}


.tech-tester {
    /* display: inline-flex;
    flex-direction: column; */
    display: block;
    justify-content: center;
    padding: 2em;
    border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    min-width: 30vw;
}

/* .tech-tester:not(#start-btn) {
    display: inline-flex;
    flex-direction: row;
} */

#binds {
    
    /* border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
    min-width: 5vw; */
}

#binds button {
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
    min-width: 5vw;
    min-height: 5vh;
}


.bindbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.start {
    display: flex;
    justify-content: center;
}
#start-btn {
    margin-top: 1em;
   justify-content: center;
    border-width: 2px;
    background-color: transparent;
    color: #e6e6e6;
    font-family: 'ULTRAFONT';
    min-width: 10vw;
    min-height: 5vh;

}

.output {
    margin-top: 2em;
    padding: 2em;
    border-color: #e6e6e6;
    border-width: 2px;
    border-style: solid;
}